{% extends 'layouts/app.twig' %}

{% block content %}
  {% include 'components/status.twig' %}
  
  <div class="columns">

      <main class="column" role="main">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Home
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                Home Page

              </div>
            </div>
          </div>
      </main>
  </div>
{% endblock %}
